<!DOCTYPE html>
{% load static %}
<html lang="en-us" >
<head>
  <title> Login | E-Movie Ticketing </title>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}">
<link rel="icon" type="image/png" href="{% static 'corecode/images/favicon.png' %}" />
    

<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" login"
  data-admin-utc-offset="18000">

<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="">Admin Login</a></h1>

        </div>
        
    </div>
    <!-- END Header -->
    <!-- Content -->
    <div id="content" class="colM">
      {% if messages %}
      {% for message in messages %}
      <p class="errornote">
        {{ message }}
      </p>
      {% endfor %}
      {% endif %}
<div id="content-main">
<form action="{{request.build_absolute_uri}}" method="post" id="login-form">
  {% csrf_token %}
    <div class="form-row">
    
    <label class="required" for="id_username">Email:</label> <input type="email" name="email" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
  </div>
  <div class="form-row">
    
    <label class="required" for="id_password">Password:</label> <input type="password" name="password" autocomplete="current-password" required id="id_password">
  </div>
  
  
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Log in">
  </div>
</form>

</div>

        
        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
